@media only screen and (max-width: 486px) {
    nav button {
        background-color: #333;
        color: white;
        text-align: center;
        width: 70px;
        height: 30px;
    }
    .option {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
    }
    
    .o1 {
        grid-column: 3/4;
    }
    
    .o2 {
        grid-column: 5/6;
    }
    
    .o3 {
        grid-column: 7/14;
    }
    #grid {
        display: flex;
        flex-direction: column;
    }
    #about {
        margin-top: 50px;
        margin-bottom: 6px;
        margin-left: 7vw;
        font-size: small;
        width: max-content;
        height: max-content;
    }
    .skills{
        font-size: small;
        width: max-content;
        height: max-content;
        margin-left: 20%;
    }
    #image{
        padding-left: 4%;
    }
}